---
import ProjectItem from '../components/ProjectItem.astro'

import { TAGS } from '../data/tags.js'

const PROJECTS = [
  {
    title: "SVGL - A beautiful library with SVG logos",
    description:
      "Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/svgl.webp",
    tags: [TAGS.NEXT, TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "AdventJS - Retos de programación con JavaScript y TypeScript",
    description:
      "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS",
    link: "https://adventjs.dev",
    image: "/projects/adventjs.webp",
    tags: [TAGS.NEXT, TAGS.REACT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-36 justify-center items-center xl:w-[150%] xl:-mx-40 xl:[&>*:nth-child(odd)]:flex-row-reverse">
  {
    PROJECTS.slice(0,3).map(({ image, title, description, tags, link, github }) => (
      <ProjectItem
        image={image}
        title={title}
        description={description}
        tags={tags}
        link={link}
        github={github}
      />
    ))
  }
</div>
