---
import ProjectItem from '../components/ProjectItem.astro'
import PROJECTDATA from '../data/projects.json'

import { TAGS } from '../data/tags.js'

const PROJECTS = [
  {
    title: PROJECTDATA[0].title,
    description: PROJECTDATA[0].description,
    link: PROJECTDATA[0].link,
    image: PROJECTDATA[0].image,
    tags: [TAGS.LUA, TAGS.NVIM],
  },
  {
    title: PROJECTDATA[1].title,
    description: PROJECTDATA[1].description,
    github: PROJECTDATA[1].github,
    image: PROJECTDATA[1].image,
    tags: [TAGS.ASTRO, TAGS.TYPESCRIPT, TAGS.TAILWIND],
  }
]
---

<div class="flex flex-col gap-y-36 justify-center items-center xl:w-[150%] xl:-mx-40 xl:[&>*:nth-child(odd)]:flex-row-reverse">
  {
    PROJECTS.slice(0,3).map(({ image, title, description, tags, link, github }) => (
      <ProjectItem
        image={image}
        title={title}
        description={description}
        tags={tags}
        link={link}
        github={github}
      />
    ))
  }
</div>
