---
import ARTICLES from '../data/articles.json'

const diffDays = (date: string) => {
  const today = new Date()
  const articleDate = new Date(date)
  const diffTime = Math.abs(today.getTime() - articleDate.getTime())
  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24))

  return diffDays
}

const isNew = (date:string) => {
  const timespan = diffDays(date)
  return timespan <= 7
}

const commingSoon = (date:string) => {
  const timespan = diffDays(date)
  return timespan <= 0
}

const isOld = (date:string) => {
  const timespan = diffDays(date)
  return timespan > 7
}
---

<ul>
  {
    ARTICLES.slice(0, 3).map((article) => (
      <li class="flex flex-col gap-4 py-14 hover:scale-105 transition">
        <a
          class="flex flex-row hover:cursor-pointer hover:text-gray-700 dark:hover:text-gray-300"
          target="_blank"
          href={article.link}>
          <h2 class="text-lg text-pretty truncate">
            {article.title}
            <span 
              class:list={[
                {
                  "bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300": isNew(article.date),
                  "bg-pink-100 text-pink-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300": commingSoon(article.date),
                  "hidden": isOld(article.date)
                }
              ]}
            >
              {isNew(article.date) ? "New" : commingSoon(article.date) ? "Coming Soon" : "" }
            </span>
          </h2>
          <span class="text-right min-w-28 ml-auto text-gray-400 dark:text-gray-500">
            {article.date}
          </span>
        </a>
        <a
          href={article.link}
          class="text-sm uppercase text-gray-500 dark:text-gray-400 hover:cursor-pointer
          hover:text-gray-400 dark:hover:text-gray-500">
          {article.topic}
        </span>
      </li>
    ))
  }
</ul>
